*.vsconfig
*.slnx
*.sln
*.csproj
DAVI NIVEL GAMEDEV 1/UserSettings
DAVI NIVEL GAMEDEV 1/Temp
DAVI NIVEL GAMEDEV 1/obj
DAVI NIVEL GAMEDEV 1/Logs
DAVI NIVEL GAMEDEV 1/.vscode
DAVI NIVEL GAMEDEV 1/.vs
DAVI NIVEL GAMEDEV 1/Library
